---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jeremy Puchta | Software Engineer</title>
	</head>
	<body class="flex justify-center items-center max-w-screen-lg mx-auto">
		<div class="flex flex-col justify-center min-h-screen">
			<h1 class="font-bold text-5xl my-1">Jeremy Puchta</h1>
			<p class="text-lg my-2">I'm a software engineer and consultant specialising in Java and Spring Boot. <br> I help companies in building well designed, easy to maintain and fast software systems.</p>
		</div>
	</body>
</html>
