---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jeremy Puchta | Software Engineer</title>
	</head>
	<body class="flex justify-center items-center max-w-screen-lg mx-auto">
		<div class="flex flex-col justify-center min-h-screen text-center">
			<h1 class="font-bold text-5xl my-1">Jeremy Puchta</h1>
			<p class="text-md my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel turpis  quis odio dapibus fringilla sed non erat. Ut vitae lacus vitae enim  aliquam aliquam. Maecenas vel finibus purus. Donec.</p>
			<div class="border border-slate-200 rounded-md py-4">
				<label for="email" class="hidden">hwefh</label>
				<input type="email" id="email" placeholder="Work with me...">
			</div>
		</div>
	</body>
</html>
