---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jeremy Puchta | Software Engineer</title>
	</head>
	<body class="flex justify-center items-center max-w-screen-lg mx-auto">
		<div class="flex flex-col justify-center min-h-screen text-center">
			<h1 class="bg-green-500 font-bold text-4xl my-4">Jeremy Puchta</h1>
			<p class="bg-red-500 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel turpis  quis odio dapibus fringilla sed non erat. Ut vitae lacus vitae enim  aliquam aliquam. Maecenas vel finibus purus. Donec.</p>
			<div class="bg-gray-500">
				<p>Slide into my Mails...</p>
			</div>
		</div>
	</body>
</html>
